* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

#space-2,
#space-3,
#space-4 {
    height: 130px;
}

#about {
    margin-top: 60px;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #326273;
    padding-top: 16px;
    color: #fff;
}

header > .container  {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: #e7e7e7;
    text-decoration: none;
}

nav {
    background-color: #fff;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    text-transform: uppercase;
}

nav li a {
    color: #326273;
    text-decoration: none;
    position: relative;
}

nav li a::after {
    content: '';
    position: absolute;
    top: 28px;
    height: 4px;
    width: 0;
    background: #fff;
    left: 50%;
    border-radius: 5px;
    transition: all 300ms ease-in-out;
  }
  
nav li a:hover::after {
    width: 85%;
    left: 7%;
  }

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

span {
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-top: 4px;
}

.container-flex {
    display: flex;
}

#about img {
    max-width: 400px;
    margin-right: 24px;
    border-radius: 4px;
}

#destaque h2,
#promocoes h2,
#contato h2 {
    margin-bottom: 16px;
    margin-top: 16px;
}

.lista-veiculos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
}

.lista-veiculos li {
    list-style: none;
}

.lista-veiculos li img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
}

.lista-veiculos li h3 {
    margin: 16px 0;
}

.lista-veiculos li p {
    height: 80px;
}

button {
    display: block;
    width: 100%;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 16px;
    background-color: #326273;
    padding: 8px 0;
    font-style: italic;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #87baab;
}

.lista-veiculos li>strong {
    margin: 16px 0;
    display: block;
}

.price {
    margin: 16px 0;
    display: block;
}

.price del {
    color: #b2b2b2;
    font-size: 14px;
}

#contato .container {
    background-color: #e8e8e8;
    padding: 24px;
}

#contato h2 {
    text-align: center;
}

form {
    max-width: 420px;
    margin: 0 auto;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
    outline-color: #326273;
}

.form-campo textarea {
    resize: none;
    height: 120px;
}

.form-campo #veiculoInteresse {
    font-weight: bold;
    color: #326273;
}

#success {
    padding: 4px;
    height: 36px;
    padding-top: 8px;
    display: none;
    margin-top: 12px;
    font-size: 14px;
    text-align: center;
    background-color: #87baab;
    color: #fff;
    border-radius: 4px;
}

.direitos {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.direitos div {
    padding: 6px;
}

.direitos a {
    text-decoration: none;
    color: #fff;
}

.direitos a:hover {
    text-decoration: none;
    color: #708090;
}

footer {
    margin-top: 40px;
    background-color: #326273;
    color: #fff;
}

.flex {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
}

.flex img {
    width: 32px;
    padding: 4px;
}

.flex img:hover {
    transform: scale(1.1);
}